name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [php82, php83, php84, php85]

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v27
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - run: nix develop .#${{ matrix.php }} --command composer install

      - run: nix develop .#${{ matrix.php }} --command composer test

      - run: nix develop .#${{ matrix.php }} --command composer analyze
